[submodule "external/rmlui"]
	path = external/rmlui
	url = https://github.com/bradenleague/RmlUi.git
	branch = tatoosh
[submodule "engine"]
	path = engine
	url = https://github.com/bradenleague/vkQuake.git
	branch = tatoosh
